<div class="education-container">
  <h1 class="education-title">
    <i class="icon fa fa-graduation-cap mr-3"></i> Academic Education
  </h1>
  <div class="education-content">
    <div class="education-cards">
      <div class="education-card">
        <img
          src="{{ '/assets/img/uni-glasgow.jpeg' | prepend: site.baseurl }}"
          alt="University of Glasgow"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="institution">University of Glasgow</h2>
          <p class="institution-content">
            Completed Master of Science in Computing Science (2021-2022).
          </p>
          <p class="institution-content">
            <span class="orange-text">Important Courses:</span> <br />
            Data Science, Big Data, Information Retrieval, Web Science, Deep
            Learning
          </p>
        </div>
      </div>
      <div class="education-card">
        <img
          src="{{ '/assets/img/iiit-bh.jpeg' | prepend: site.baseurl }}"
          alt="IIIT Bhubaneswar"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="institution">IIIT Bhubaneswar</h2>
          <p class="institution-content">
            Completed Bachelor of Technology in Computer Science (2016-2020).
          </p>
          <p class="institution-content">
            <span class="orange-text">Important Courses:</span> <br />
            Data Structures, Relational Databases, System Design, Internet of
            Technology, Digital Image Processing, Cryptography
          </p>
        </div>
      </div>
      <div class="education-card">
        <img
          src="{{ '/assets/img/timpany-school.jpg' | prepend: site.baseurl }}"
          alt="Timpany School"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="institution">Timpany School</h2>
          <p class="institution-content">
            Completed education from Kindergarten through Standard XII
            (2002-2016).
          </p>
          <p class="institution-content">
            <span class="orange-text">Important Courses:</span> <br />
            Computer Science, Maths, Physics, Chemistry, English
          </p>
        </div>
      </div>
    </div>
    <div class="education-gif">
      <img
        src="{{ '/assets/img/portfolio.gif' | prepend: site.baseurl }}"
        alt="Developer working"
        class="developer-gif"
      />
    </div>
  </div>
</div>
