<div id="particles-js">
  <div class="header">
    <h1>
      <div class="site-title">Raju Kalidindi</div>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <a
      aria-label="My Github"
      target="_blank"
      href="https://github.com/RajuKalidindi"
      ><i class="icon fa fa-github fa-2x mr-3" aria-hidden="true"></i
    ></a>
    <a
      aria-label="My LinkedIn"
      target="_blank"
      href="https://linkedin.com/in/ramana-krishnam-raju-kalidindi/"
      ><i class="icon fa fa-linkedin fa-2x mr-3"></i
    ></a>
    <a aria-label="Send email" href="mailto:krkraju997@gmail.com"
      ><i class="icon fa fa-envelope fa-2x mr-3"></i
    ></a>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
