<div id="particles-js">
  <div class="header">
    <h1>
      <div class="site-title">Raju Kalidindi</div>
      <span class="site-description">
        <div class="flip-text-wrapper">
          <span class="flip-text front">{{site.user_title}}</span>
          <span class="flip-text back"></span>
        </div>
      </span>
    </h1>
    <a
      aria-label="My Github"
      target="_blank"
      href="https://github.com/RajuKalidindi"
      ><i class="icon fa fa-github fa-2x mr-3" aria-hidden="true"></i
    ></a>
    <a
      aria-label="My LinkedIn"
      target="_blank"
      href="https://linkedin.com/in/ramana-krishnam-raju-kalidindi/"
      ><i class="icon fa fa-linkedin fa-2x mr-3"></i
    ></a>
    <a aria-label="Send email" href="mailto:krkraju997@gmail.com"
      ><i class="icon fa fa-envelope fa-2x mr-3"></i
    ></a>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const texts = [
      "Software Engineer",
      "Constant Smiler",
      "Intrepid Explorer",
      "Football Fanatic",
      "Culinary Adventurer",
    ];
    const frontText = document.querySelector(".flip-text.front");
    const backText = document.querySelector(".flip-text.back");
    let currentIndex = 0;

    function flipText() {
      currentIndex = (currentIndex + 1) % texts.length;
      backText.textContent = texts[currentIndex];

      frontText.style.animation = "flipOut 0.5s forwards";
      backText.style.animation = "flipIn 0.5s forwards";

      setTimeout(() => {
        frontText.textContent = texts[currentIndex];
        frontText.style.animation = "";
        backText.style.animation = "";
        [frontText, backText] = [backText, frontText];
      }, 600);
    }

    setInterval(flipText, 2000);
  });
</script>
