<div class="user-details">
  <h1 class="white">
    <i class="icon fa fa-rocket mr-3"></i> Featured Projects
  </h1>
</div>
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">BikeStop</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A bike renting platform built using python flask.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Memory Game</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">A memory game with minor animations.</p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Javascript
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="Memory Game GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/Memory-Game"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <a
                  aria-label="Memory Game GitHub Pages"
                  target="_blank"
                  href="https://rajukalidindi.github.io/Memory-Game/"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">DinoScraper</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A python webscraper to scrape for dinosaur data.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  mongoDB
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="DinoScraper GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/Dino-Scraper"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">RingAuth</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A user authentication system built for VR headset.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  C#
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Unity
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Blender
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="RingAuth GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/Masters-Dissertation"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <!-- Card 5 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">ASCII-Generator</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                An image generator that generates ASCII images in color & b/w
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="ASCII GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/ASCII-generator"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 6 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Fire Alert</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A fire alarm system that sends a slack alert.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Typescript
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Arduino
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="Fire-Alert GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/alert-tool"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 7 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Doodle Jump</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A recreation of the famous doodle jump game.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  C#
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Unity
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="Doodle-Jump GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/Doodle-Jump"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 8 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Weather App</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                An android weather app using openweather api.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Java
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  REST Api
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="Weather GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/alert-tool"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <!-- Card 9 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Dictionary</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A dictionary that provides suggestions for the typos.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="Dictionary GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/Dictionary"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 10 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Cubix</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A cube runner game where the objective is to avoid obstacles.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  C#
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Unity
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="Cubix GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/Cubix"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 11 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Tic-Tac-Toe</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A two player tic-tac-toe game built for android.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Java
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  XML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Android
                </div>
              </div>
              <div class="icon-container">
                <a
                  aria-label="Tic-Tac-Toe GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/Tic-Tac-Toe"
                  ><i class="icon fa fa-github fa-lg" aria-hidden="true"></i
                ></a>
                <!-- <a
                  aria-label="BikeStop GitHub"
                  target="_blank"
                  href="https://github.com/RajuKalidindi/BikeStop"
                  ><i class="icon fa fa-link fa-lg" aria-hidden="true"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Card 12 -->
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-target="#carouselIndicators"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-target="#carouselIndicators"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>
