<div class="user-details">
  <h1>Projects</h1>
</div>
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">BikeStop</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A bike renting platform built using python flask.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
              </div>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i class="icon fa fa-github-alt" aria-hidden="true"></i
              ></a>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i
                  class="icon fa-regular fa-window-maximize"
                  aria-hidden="true"
                ></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">Memory Game</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">A Memory Game in Javascript.</p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Javascript
                </div>
              </div>
              <a
                aria-label="Memory Game GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/Memory-Game"
                ><i class="icon fa fa-github-alt" aria-hidden="true"></i
              ></a>
              <a
                aria-label="Memory Game GitHub Pages"
                target="_blank"
                href="https://rajukalidindi.github.io/Memory-Game/"
                ><i class="icon fa-solid fa-link" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">BikeStop</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A bike renting platform built using python flask.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
              </div>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i class="icon fa fa-github-alt" aria-hidden="true"></i
              ></a>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i
                  class="icon fa-regular fa-window-maximize"
                  aria-hidden="true"
                ></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">BikeStop</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A bike renting platform built using python flask.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
              </div>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i class="icon fa fa-github-alt" aria-hidden="true"></i
              ></a>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i
                  class="icon fa-regular fa-window-maximize"
                  aria-hidden="true"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <!-- Card 5 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">BikeStop</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A bike renting platform built using python flask.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
              </div>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i class="icon fa fa-github-alt" aria-hidden="true"></i
              ></a>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i
                  class="icon fa-regular fa-window-maximize"
                  aria-hidden="true"
                ></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Card 6 -->
        <div class="col-md-3">
          <div class="card">
            <h5 class="card-title">BikeStop</h5>
            <img
              src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
              class="card-img-top"
              alt="bikestop"
            />
            <div class="card-body">
              <p class="card-text">
                A bike renting platform built using python flask.
              </p>
              <div class="flex justify-center items-center">
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  Python
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  HTML
                </div>
                <div
                  class="text-center font-medium mx-1 border-2 border-purple p-1 bg-purpleLight rounded-lg"
                >
                  CSS
                </div>
              </div>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i class="icon fa fa-github-alt" aria-hidden="true"></i
              ></a>
              <a
                aria-label="BikeStop GitHub"
                target="_blank"
                href="https://github.com/RajuKalidindi/BikeStop"
                ><i
                  class="icon fa-regular fa-window-maximize"
                  aria-hidden="true"
                ></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Card 7 -->
        <!-- Card 8 -->
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
