<div class="user-details">
  <h1 class="padding-top white">
    <i class="icon fa fa-gear mr-3"></i> Skills
    <span class="purple-text">&</span> Certificates
  </h1>
</div>
<div class="skills-certificates-container">
  <!-- Skills Column -->
  <div class="skills-column">
    <h2 class="white padding-top-none skills-header">Skills</h2>
    <div class="skill-category">
      <h3>▶ Languages</h3>
      <div class="skill-tags">
        <span class="skill-tag">Python</span>
        <span class="skill-tag">JavaScript</span>
        <span class="skill-tag">TypeScript</span>
        <span class="skill-tag">HTML/CSS</span>
        <span class="skill-tag">Java</span>
        <span class="skill-tag">C#</span>
        <span class="skill-tag">C++</span>
        <span class="skill-tag">Shell scripting</span>
        <span class="skill-tag">Kotlin</span>
        <span class="skill-tag">Dart</span>
        <span class="skill-tag">SQL</span>
      </div>
    </div>

    <div class="skill-category">
      <h3>▶ Frameworks/Libraries</h3>
      <div class="skill-tags">
        <span class="skill-tag">React</span>
        <span class="skill-tag">Flask</span>
        <span class="skill-tag">Node.js</span>
        <span class="skill-tag">GraphQL</span>
        <span class="skill-tag">Angular</span>
        <span class="skill-tag">Bootstrap</span>
        <span class="skill-tag">Next.js</span>
        <span class="skill-tag">Flutter</span>
        <span class="skill-tag">Laravel</span>
      </div>
    </div>

    <div class="skill-category">
      <h3>▶ Tools</h3>
      <div class="skill-tags">
        <span class="skill-tag">AWS</span>
        <span class="skill-tag">Docker</span>
        <span class="skill-tag">Git</span>
        <span class="skill-tag">GitHub</span>
        <span class="skill-tag">MongoDB</span>
        <span class="skill-tag">Unity</span>
        <span class="skill-tag">LaTeX</span>
        <span class="skill-tag">Linux</span>
        <span class="skill-tag">Figma</span>
        <span class="skill-tag">VS Code</span>
      </div>
    </div>
  </div>

  <!-- Certificates Column -->
  {% assign certificates = site.data.certificates %} {% assign
  certificates_per_slide = 4 %}

  <div class="certificates-column">
    <h2 class="white padding-top-none text-center">Certificates</h2>
    <div id="certificatesCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for i in (0..certificates.size) %} {% assign mod = i | modulo:
        certificates_per_slide %} {% if mod == 0 %}
        <div class="carousel-item {% if i == 0 %}active{% endif %}">
          {% endif %} {% if mod == 0 or mod == 2 %}
          <div class="row-start mx-3 my-2">
            {% endif %} {% if i < certificates.size %}
            <div class="col-md-6 d-flex justify-content-center">
              <img
                src="{{ certificates[i].src | prepend: site.baseurl }}"
                alt="{{ certificates[i].alt }}"
                class="img-fluid carousel-image"
              />
            </div>
            {% endif %} {% if mod == 1 or mod == 3 or i == certificates.size |
            minus: 1 %}
          </div>
          {% endif %} {% if mod == 3 or i == certificates.size | minus: 1 %}
        </div>
        {% endif %} {% endfor %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-target="#certificatesCarousel"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-target="#certificatesCarousel"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
</div>
