<div class="user-details">
  <h1 class="padding-top white">
    <i class="icon fa fa-gear mr-3"></i> Skills
    <span class="purple-text">&</span> Certifications
  </h1>
</div>
<div class="skills-certifications-container">
  <!-- Skills Column -->
  <div class="skills-column">
    <h2 class="white padding-top-none">Skills</h2>
    <div class="skill-category">
      <h3>▶ Languages</h3>
      <div class="skill-tags">
        <span class="skill-tag">Python</span>
        <span class="skill-tag">JavaScript</span>
        <span class="skill-tag">TypeScript</span>
        <span class="skill-tag">HTML/CSS</span>
        <span class="skill-tag">Java</span>
        <span class="skill-tag">C#</span>
        <span class="skill-tag">C++</span>
        <span class="skill-tag">Shell scripting</span>
        <span class="skill-tag">Kotlin</span>
        <span class="skill-tag">Dart</span>
        <span class="skill-tag">SQL</span>
      </div>
    </div>

    <div class="skill-category">
      <h3>▶ Frameworks/Libraries</h3>
      <div class="skill-tags">
        <span class="skill-tag">React</span>
        <span class="skill-tag">Flask</span>
        <span class="skill-tag">Node.js</span>
        <span class="skill-tag">GraphQL</span>
        <span class="skill-tag">Angular</span>
        <span class="skill-tag">Bootstrap</span>
        <span class="skill-tag">Next.js</span>
        <span class="skill-tag">Flutter</span>
        <span class="skill-tag">Laravel</span>
      </div>
    </div>

    <div class="skill-category">
      <h3>▶ Tools</h3>
      <div class="skill-tags">
        <span class="skill-tag">AWS</span>
        <span class="skill-tag">Docker</span>
        <span class="skill-tag">Git</span>
        <span class="skill-tag">GitHub</span>
        <span class="skill-tag">MongoDB</span>
        <span class="skill-tag">Unity</span>
        <span class="skill-tag">LaTeX</span>
        <span class="skill-tag">Linux</span>
        <span class="skill-tag">Figma</span>
        <span class="skill-tag">VS Code</span>
      </div>
    </div>
  </div>

  <!-- Certifications Column -->
  <div class="certifications-column">
    <h2 class="white padding-top-none">Certifications</h2>
    <div
      id="certificationsCarousel"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row ml-3 mr-3 mt-2 mb-2">
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 1"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 2"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row ml-3 mr-3 mt-2 mb-2">
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 3"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 4"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row ml-3 mr-3 mt-2 mb-2">
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 3"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 4"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row ml-3 mr-3 mt-2 mb-2">
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 3"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6">
              <img
                src="{{ '/assets/img/logo.jpg' | prepend: site.baseurl }}"
                alt="Certification 4"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <!-- Add more carousel items as needed -->
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-target="#certificationsCarousel"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-target="#certificationsCarousel"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
</div>
